[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
highspy = "*"
psutil = "*"
gurobipy = "*"
setuptools = "*"
ortools = "*"
solver-arena = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
