[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
highspy = "*"
gurobipy = "*"
setuptools = "*"
ortools = "*"
solverarena = {file = ".", editable = true}
memory-profiler = "*"
pyscipopt = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.12"
